node_modules
npm-debug.log*
.env
.env.*
*.md
.git
.github
.vscode
client/node_modules
client/dist
server/node_modules
server/dist
server/src/prisma/prisma
specs
references
apm_modules
apm.lock.yaml
apm.yml
css-diff.txt
